name: brew pr-pull

on:
  workflow_dispatch:
    inputs:
      pr:
        description: Pull request number to publish bottles for
        required: true
        type: number

jobs:
  pr-pull:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: none
      pull-requests: write
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Set up git
        uses: Homebrew/actions/git-user-config@master

      - name: Publish bottles
        env:
          PR_NUMBER: ${{ inputs.pr }}
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.actor }}
        run: brew pr-pull --debug --tap="${GITHUB_REPOSITORY}" "$PR_NUMBER"

      - name: Push commits
        uses: Homebrew/actions/git-try-push@master
        with:
          token: ${{ github.token }}
          branch: master
