name: brew pr-pull

on:
  push:
    branches:
      - master

jobs:
  pr-pull:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: none
      pull-requests: write
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Set up git
        uses: Homebrew/actions/git-user-config@master

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.actor }}
          BRANCH: ${{ github.ref_name }}
        run: |
          pr_number=$(git log -1 --pretty=%B | sed -n 's/.*#\([0-9]\+\).*/\1/p' | head -n1)
          if [ -z "$pr_number" ]; then
            echo "::notice::No PR number found in commit message. Skipping brew pr-pull."
            exit 0
          fi
          brew pr-pull --debug --tap="${GITHUB_REPOSITORY}" "$pr_number"

      - name: Push commits
        uses: Homebrew/actions/git-try-push@master
        with:
          token: ${{ github.token }}
          branch: master
